@{
    Layout = null;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Gallary</title>
<link type="text/css" rel="stylesheet" href="~/Test/Gallery/css/brown.css" />
<link type="text/css" rel="stylesheet" href="~/Test/Gallery/css/print.css" media="print"/>
<script type="text/javascript" src="~/Test/Gallery/js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="~/Test/Gallery/js/jquery.tipsy.js"></script>
<script type="text/javascript" src="~/Test/Gallery/js/cufon.yui.js"></script>
<script type="text/javascript" src="~/Test/Gallery/js/scrollTo.js"></script>
<script type="text/javascript" src="~/Test/Gallery/js/myriad.js"></script>
<script type="text/javascript" src="~/Test/Gallery/js/jquery.colorbox.js"></script>
<script type="text/javascript" src="~/Test/Gallery/js/custom.js"></script>
<script type="text/javascript">
    Cufon.replace('h1,h2');
</script>
</head>
<body>
         <!-- Begin 5th Row -->
        <div class="entry">
        <h2>Gallary</h2>
        	<ul class="works">
        		<li><a href="~/Test/Gallery/images/Makkah/1.png" rel="gallery" title="Makkah"><img src="~/Test/Gallery/images/Makkah/1.png" alt="" style="width:109px;height:109px;" /></a></li>
        		<li><a href="~/Test/Gallery/images/Makkah/2.png" rel="gallery" title="Makkah"><img src="~/Test/Gallery/images/Makkah/2.png" alt="" style="width:109px;height:109px;" /></a></li>
        		<li><a href="~/Test/Gallery/images/Makkah/3.png" rel="gallery" title="Makkah"><img src="~/Test/Gallery/images/Makkah/3.png" alt="" style="width:109px;height:109px;" /></a></li>
        		<li><a href="~/Test/Gallery/images/Makkah/4.png" rel="gallery" title="Makkah"><img src="~/Test/Gallery/images/Makkah/4.png" alt="" style="width:109px;height:109px;" /></a></li>
        		<li><a href="~/Test/Gallery/images/Makkah/5.png" rel="gallery" title="Makkah"><img src="~/Test/Gallery/images/Makkah/5.png" alt="" style="width:109px;height:109px;" /></a></li>
        		<li><a href="~/Test/Gallery/images/Makkah/6.png" rel="gallery" title="Makkah"><img src="~/Test/Gallery/images/Makkah/6.png" alt="" style="width:109px;height:109px;" /></a></li>
				<li><a href="~/Test/Gallery/images/Madinah/1.png" rel="gallery" title="Madinah"><img src="~/Test/Gallery/images/Madinah/1.png" alt="" style="width:109px;height:109px;" /></a></li>
				<li><a href="~/Test/Gallery/images/Madinah/2.png" rel="gallery" title="Madinah"><img src="~/Test/Gallery/images/Madinah/2.png" alt="" style="width:109px;height:109px;" /></a></li>
				<li><a href="~/Test/Gallery/images/Ghos-e-Azam/1.jpg" rel="gallery" title="Ghos-e-Azam"><img src="~/Test/Gallery/images/Ghos-e-Azam/1.jpg" alt="" style="width:109px;height:109px;" /></a></li>
				<li><a href="~/Test/Gallery/images/Ghos-e-Azam/2.jpg" rel="gallery" title="Ghos-e-Azam"><img src="~/Test/Gallery/images/Ghos-e-Azam/2.jpg" alt="" style="width:109px;height:109px;" /></a></li>        		
				<li><a href="~/Test/Gallery/images/Ghos-e-Azam/3.jpg" rel="gallery" title="Ghos-e-Azam"><img src="~/Test/Gallery/images/Ghos-e-Azam/3.jpg" alt="" style="width:109px;height:109px;" /></a></li>
				<li><a href="~/Test/Gallery/images/Ghos-e-Azam/4.jpg" rel="gallery" title="Ghos-e-Azam"><img src="~/Test/Gallery/images/Ghos-e-Azam/4.jpg" alt="" style="width:109px;height:109px;" /></a></li>
				<li><a href="~/Test/Gallery/images/Ghos-e-Azam/5.jpg" rel="gallery" title="Ghos-e-Azam"><img src="~/Test/Gallery/images/Ghos-e-Azam/5.jpg" alt="" style="width:109px;height:109px;" /></a></li>
				<li><a href="~/Test/Gallery/images/Aala Hazrat/1.jpg" rel="gallery" title="Aala Hazrat"><img src="~/Test/Gallery/images/Aala Hazrat/1.jpg" alt="" style="width:109px;height:109px;" /></a></li>
				<li><a href="~/Test/Gallery/images/Aala Hazrat/2.jpg" rel="gallery" title="Aala Hazrat"><img src="~/Test/Gallery/images/Aala Hazrat/2.jpg" alt="" style="width:109px;height:109px;" /></a></li>
				<li><a href="~/Test/Gallery/images/Aala Hazrat/3.jpg" rel="gallery" title="Aala Hazrat"><img src="~/Test/Gallery/images/Aala Hazrat/3.jpg" alt="" style="width:109px;height:109px;" /></a></li>
				<li><a href="~/Test/Gallery/images/Aala Hazrat/4.jpg" rel="gallery" title="Aala Hazrat"><img src="~/Test/Gallery/images/Aala Hazrat/4.jpg" alt="" style="width:109px;height:109px;" /></a></li>
				<li><a href="~/Test/Gallery/images/Aala Hazrat/5.jpg" rel="gallery" title="Aala Hazrat"><img src="~/Test/Gallery/images/Aala Hazrat/5.jpg" alt="" style="width:109px;height:109px;" /></a></li>
				<li><a href="~/Test/Gallery/images/Aala Hazrat/6.jpg" rel="gallery" title="Aala Hazrat"><img src="~/Test/Gallery/images/Aala Hazrat/6.jpg" alt="" style="width:109px;height:109px;" /></a></li>
				<li><a href="~/Test/Gallery/images/Aala Hazrat/7.jpg" rel="gallery" title="Aala Hazrat"><img src="~/Test/Gallery/images/Aala Hazrat/7.jpg" alt="" style="width:109px;height:109px;" /></a></li>
				<li><a href="~/Test/Gallery/images/Aala Hazrat/8.jpg" rel="gallery" title="Aala Hazrat"><img src="~/Test/Gallery/images/Aala Hazrat/8.jpg" alt="" style="width:109px;height:109px;" /></a></li>
				<li><a href="~/Test/Gallery/images/Aala Hazrat/9.jpg" rel="gallery" title="Aala Hazrat"><img src="~/Test/Gallery/images/Aala Hazrat/9.jpg" alt="" style="width:109px;height:109px;" /></a></li>
				<li><a href="~/Test/Gallery/images/Aala Hazrat/10.jpg" rel="gallery" title="Aala Hazrat"><img src="~/Test/Gallery/images/Aala Hazrat/10.jpg" alt="" style="width:109px;height:109px;" /></a></li>
				<li><a href="~/Test/Gallery/images/Aala Hazrat/11.jpg" rel="gallery" title="Aala Hazrat"><img src="~/Test/Gallery/images/Aala Hazrat/11.jpg" alt="" style="width:109px;height:109px;" /></a></li>
				<li><a href="~/Test/Gallery/images/Masjid/1.png" rel="gallery" title="Masjid"><img src="~/Test/Gallery/images/Masjid/1.png" alt="" style="width:109px;height:109px;" /></a></li>
        		<li><a href="~/Test/Gallery/images/Masjid/2.png" rel="gallery" title="Masjid"><img src="~/Test/Gallery/images/Masjid/2.png" alt="" style="width:109px;height:109px;" /></a></li>
        		<li><a href="~/Test/Gallery/images/Masjid/3.png" rel="gallery" title="Masjid"><img src="~/Test/Gallery/images/Masjid/3.png" alt="" style="width:109px;height:109px;" /></a></li>
        		<li><a href="~/Test/Gallery/images/Masjid/4.png" rel="gallery" title="Masjid"><img src="~/Test/Gallery/images/Masjid/4.png" alt="" style="width:109px;height:109px;" /></a></li>
        		<li><a href="~/Test/Gallery/images/Masjid/5.png" rel="gallery" title="Masjid"><img src="~/Test/Gallery/images/Masjid/5.png" alt="" style="width:109px;height:109px;" /></a></li>
        		<li><a href="~/Test/Gallery/images/Masjid/6.png" rel="gallery" title="Masjid"><img src="~/Test/Gallery/images/Masjid/6.png" alt="" style="width:109px;height:109px;" /></a></li>
				<li><a href="~/Test/Gallery/images/Masjid/7.png" rel="gallery" title="Masjid"><img src="~/Test/Gallery/images/Masjid/7.png" alt="" style="width:109px;height:109px;" /></a></li>
			</ul>
        </div>
        <!-- Begin 5th Row -->
</body>
</html>
