@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div id="content">
        <div class="content_item">
		  <h1>Welcome To Maslak-e-Aala Hazrat</h1> 
	      <p>Ahmed Raza Khan Barelvi (Urdu: <font face="jameel noori nastaleeq" size="5"> امام احمد رضا خان بریلوی رحمۃ اللہ تعالی علیہ </font> June 14, 1856 CE or 10 Shawwal 1272 AH - October 28, 1921 CE or 25 Safar 1340 AH), also known as Imam Ahmed Raza Khan, Imam Ahmed Raza Khan Qadri, or Ala'Hazrat, was a Muslim scholar, Sufi, and reformer in British India.</p>	  
		  <div class="content_container">
		    <p>Ahmed Raza Khan wrote several books on various topics in Arabic, Persian and Urdu, including Fatawa-e-Razvia, Kanzul Iman & Husamul Haramain etc.</p>
		  	<div class="button_small">
		      <a href="http://www.dawateislami.net/bookslibrary/?mt=&filter=3&month=&lang=">Books</a>
		    </div><!--close button_small-->
		  </div><!--close content_container-->
          <div class="content_container">
		    <p>Several of his books have been translated in other European and South Asian languages. His main work include...</p>          
		  	<div class="button_small">
		      <a href="https://en.wikipedia.org/wiki/Ahmed_Raza_Khan_Barelvi#Books">Read More</a>
		    </div><!--close button_small-->		  
		  </div><!--close content_container--> 
		</div><!--close content_item-->
      </div><!--close content-->   